<html>
    <head></head>
    <style></style>
    <body>
        {% include 'nav.html' %} 
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <br><br>
            <input type="text" name="name" placeholder="Name">
            <br><br>
            <input type="text" name="dis" placeholder="Discription">
            <br><br>
            <input type="file" name="image" placeholder="Image">
            <br>
            <button type="submit">Add</button>
        </form>
    </body>
</html>